@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lora&family=Nunito:wght@600&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

/*
font-family: 'Karla', sans-serif;
font-family: 'Lora', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;

*/

